{% extends 'base.html.twig' %}
{% block title %}Paramètres{% endblock %}
{% block body %}
    <div class="page__header">
        <div>
            <h1 class="page__title">Paramètres de l'entreprise</h1>
            <p class="page__subtitle">Affichés sur le portail client, les devis et factures PDF.</p>
        </div>
    </div>

    {{ form_start(form, {attr: {class: 'card form', style: 'max-width: 720px;'}}) }}
        {{ form_row(form.companyName) }}
        {{ form_row(form.companyTagline) }}
        {{ form_row(form.companyAddress) }}
        <div class="grid-2">
            {{ form_row(form.companyEmail) }}
            {{ form_row(form.companyPhone) }}
        </div>
        {{ form_row(form.companyLegal) }}
        {{ form_row(form.defaultVatRate) }}
        <div class="form__actions">
            <button type="submit" class="btn btn--primary">Enregistrer</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
