{{ form_start(form, {action: action, attr: {class: 'card form', style: 'max-width: 720px;'}}) }}
    {{ form_row(form.displayName) }}
    {{ form_row(form.companyName) }}
    <div class="grid-2">
        {{ form_row(form.contactEmail) }}
        {{ form_row(form.contactPhone) }}
    </div>
    {{ form_row(form.address) }}
    {{ form_row(form.notes) }}
    <div class="form__actions">
        <a href="{{ path('app_clients_index') }}" class="btn btn--ghost">Annuler</a>
        <button type="submit" class="btn btn--primary">Enregistrer</button>
    </div>
{{ form_end(form) }}
