{% extends 'base.html.twig' %}
{% block title %}Nouveau projet{% endblock %}
{% block body %}
    <div class="page__header">
        <div>
            <h1 class="page__title">Nouveau projet</h1>
            <p class="page__subtitle">La référence sera générée automatiquement à l'enregistrement.</p>
        </div>
    </div>
    {{ form_start(form, {attr: {class: 'card form', style: 'max-width: 800px;'}}) }}
        {{ form_row(form.title) }}
        {{ form_row(form.client) }}
        <div class="grid-3">
            {{ form_row(form.status) }}
            {{ form_row(form.currentStage) }}
            {{ form_row(form.priority) }}
        </div>
        <div class="grid-3">
            {{ form_row(form.targetDeliveryDate) }}
            {{ form_row(form.budgetTarget) }}
            {{ form_row(form.sellingPrice) }}
        </div>
        {{ form_row(form.description) }}
        <div class="grid-3">
            {{ form_row(form.assignedDesigner) }}
            {{ form_row(form.assignedJeweler) }}
            {{ form_row(form.assignedSetter) }}
        </div>
        <div class="form__actions">
            <a href="{{ path('app_projects_index') }}" class="btn btn--ghost">Annuler</a>
            <button type="submit" class="btn btn--primary">Créer</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
